@import "../node_modules/bootstrap/scss/bootstrap.scss";
$cool-gray: #a09abc;
$lilac: #b6a6ca;
$lavender: #d5cfe1;
$light-gray: #e1dee9;
$brown: #6f5349;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  overflow: auto;
  min-width: fit-content;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar {
  background: $cool-gray;
}

.navbar-brand {
  color: white;
  font-size: x-large;
}

.nav-link {
  color: white;
}

footer {
  margin-top: auto;
  width: 100%;
  background-color: $light-gray;
  color: black;
  text-align: center;
  bottom: 0;
  padding-block: 10px;
  font-size: 1rem;
}

footer p {
  margin: 0px;
}

h2 {
  color: $brown;
}

h2.centered {
  text-align: center;
}

.card-title {
  text-align: center;
}

.card-text {
  text-align: center;
}

.btn-primary {
  background-color: $brown;
  border: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #553f37;
}

.btn-secondary {
  background-color: tan;
  border: none;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.open > .dropdown-toggle.btn-secondary {
  background-color: rgb(185, 159, 125);
}

.btn-outline-secondary {
  border-color: $cool-gray;
}

.btn-primary.home-button {
  border-radius: 24px;
}

.home-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $lavender;
  height: 100vh;
  min-width: fit-content;
  min-height: 600px;
}

.banner-image {
  text-align: center;
}

.image-source a {
  text-decoration: none;
  color: $brown;
}

.home-banner-white {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: fit-content;
  min-height: 600px;
}

.books-icon {
  height: 300px;
  width: auto;
}

.container-about {
  width: 800px;
}

.link {
  color: $brown;
}

.link-blue {
  color: #099fb6;
}

.error-msg {
  color: red;
}
