@import "../node_modules/bootstrap/scss/bootstrap.scss";
$cool-gray: #a09abc;
$lilac: #b6a6ca;
$lavender: #d5cfe1;
$light-gray: #e1dee9;
$brown: #d4bebe;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar {
  background: $cool-gray;
}

.navbar-brand {
  color: white;
  font-size: x-large;
}

.nav-link {
  color: white;
}

footer {
  margin-top: auto;
  width: 100%;
  background-color: $light-gray;
  color: black;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding-block: 10px;
  font-size: 1rem;
}

footer p {
  margin: 0px;
}
